body{
    padding:0;
    margin: 0;
    background-color: black;
    font-family: 'Major Mono Display', monospace;
}
p{
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
}
a{
    text-decoration: none;
}
.btn a{
    color: #78e08f;
}
.menu{
    width: 100%;
    height: 5vh;
    background: linear-gradient(rgb(63, 63, 63),black);
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    position:sticky;
    top:0;
    z-index: 1000;
    transition: background-color 0.3s ease-in;
}
.icon-label{
    width: 20px;
}
.nav-item{
    color:white;
    padding: 15px;
    padding-left: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease-in;
}
.nav-item:hover{
    color: black;
    background-color:#78e08f;
    
    
}
.nav-label{
    justify-self: flex-start;
    margin-right: auto;
    margin-left: 2%;
}
.nav-label a{
    color: #eb2f06;
    text-decoration: none;
    
}
.nav-label a:hover{
    color: #78e08f;
    
}

.brand{
    height:60vh;
    background-image: url('./ressources/present-img.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.brand::after{
    content: "";
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3)
}
h1{
    margin-bottom: 200px;
    font-size: 8rem;
    z-index: 100;
}
h1 a{
    color: #78e08f;
    text-decoration: none;
}
h1 a:hover{
    color: #eb2f06;
}
.container{
    background: white;
    padding-top: 120px;
    padding-bottom: 130px;
    width: 80%;
    max-width:1600px;
    position: relative;
    margin: auto;
    top:-200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.article{
    margin-top: 80px;
    width: 80%;
    height:auto;
    min-height: 300px;
    padding:2% 0;
    background-image: url('ressources/art1.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    box-shadow: 5px 5px 15px black;
    transition: all 0.3s ease-in-out;
}
/* 
@keyframes goLeft {
    from{
        width: 100%;
    }
    to{
        width:0;
    }
}
@keyframes goRight {
    from{
        margin-right: 0;
    }
    to{
        margin-right: 300%;
    }
}
.animateLeft{
    position:relative;
    animation: 2s ease-in forwards goLeft;
}
.animateRight{
    position:relative;
    animation: 2s ease-in forwards  goRight; 
} */
.article:hover{
    box-shadow: 5px 5px 25px black;
    transition: all 0.3s ease-in-out;
}
.btn{
    margin: auto;
    padding: 2%;
    width: 15%;
    font-size: 1.5em;
    color: #78e08f;
    border: 3px solid #78e08f;
    background-color: rgba(0,0,0,0.7);
    box-shadow: 5px 5px 15px black;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.btn:hover{
    transition: all 0.3s ease-in-out;
    transform: scale(1.1);
    color: #eb2f06;
    border: 3px solid #eb2f06;
}
.art-content{
    width: 40%;
    height:auto;
    background-color: white;
    margin-right: 5%;
    margin-left: 5%;
    padding: 1%;
}
#art2{
    background-image: url('ressources/art2.jpg');
    background-position: center;
    background-size: cover;
}
#art3{
    background-image: url('ressources/art3.jpg');
    background-size:cover;
    background-position: center;
}
#art4{
    background-image: url('ressources/art4.jpg');
    background-size: cover;
    background-position: center;
}

#contact{
    width:80%;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: auto;
    margin-top: 80px;
    background-image: url('./ressources/contact_bg.jpg');
    background-size: cover;
    background-position: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#eb2f06;
    box-shadow: 5px 5px 15px black;
    position: relative;
}
#contact::after{
    position: absolute;
    left: 0;
    top:0;
    background-color: rgba(0,0,0,0.7);
}
#contact:hover{
    box-shadow: 5px 5px 25px black;
}
#contact label{
    padding-top: 30px;
    margin-bottom: 20px;
    font-weight: bolder;
}
#contact textarea{
    margin-bottom: 30px;
    width:80%;
    height:200px;
    resize: none;
}
#contact input{
    width:40%;
    height: 30px;
    text-align: center;
    border: 0;
}
#contact input, textarea, .btn{
    box-shadow: 5px 5px 35px black;;
}
footer{
    background-color: white;
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.reseaux img{
    width:40px;
    height: 40px;
}
.reseaux{
    margin-bottom: 15px;
}
.footer-link li{
    display: inline;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    color:#eb2f06;
    font-size:0.7em;
    font-weight: 100;
}
footer p{
    text-align: center;
    color: #eb2f06;
    padding: 0;
    margin: 0;
}
ul{
    padding-left: 0;
}
.pic-container{
    display: grid;
    grid-template-columns: repeat(3,33%);
    gap: 0 10px;
    padding-top: 120px;
    padding-left: 2%;
    padding-right: 2%;
    background: white;
    padding-top: 130px;
    padding-bottom: 130px;
    width: 80%;
    max-width:1600px;
    position: relative;
    margin: auto;
    top:-200px;
    justify-items: center;
    align-items: flex-start;

}
h2{
    margin-bottom: 50px;
    font-size: 4em;
    
}
.pic-container h2{
    grid-column-end: 4;
    grid-column-start: 1;
}
.content-pic{
    grid-row: 2;
}
.col1{
    grid-column: 1;
}
.col2{
    grid-column: 2;
}
.col3{
    grid-column: 3;
}
.pic-item,
.pic-article{
    position: relative;
    width: 100%;
    min-width: 300px;
    box-shadow: 5px 5px 15px black;
    cursor: pointer;
    margin-top: 5%;
    height: auto;  
}
.btn-pic{
    width: 30%;
    margin: 2% 0 2% 2%;

}
.col{
    margin-left: auto;
    margin-right: auto;
}
.pic-article{
    height: auto;
    padding: 2%;
}
.pic-item:hover{
    box-shadow: 5px 5px 25px black;
    transform: scale(1.02);
    transition: all 0.3s ease-in;
}
.pic{
    width: 100%;
}

.flip-div{
    position:relative;
    width: 33%;
    transform-style: preserve-3d;
    transition: all 0.5s ease-in-out;
}
.flip-div:hover{
    transform: rotateY(180deg);
}
.front-div{
    position: absolute;
    width: 100%;
    backface-visibility: hidden;
    background-color: green;
}
.back-div{
    position: absolute;
    width: 100%;
    height: 300px;
    backface-visibility: hidden;
    background-color: yellow;
    transform: rotateY(180deg);
}


@media screen and (max-width:1620px){
    h1{
        font-size: 7rem;
    }
}
.container-event{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    justify-items: center;
    align-items: flex-start;
}
.event-txt{
    width: 80%;
    margin:  0 auto;
    box-shadow: 5px 5px 15px darkgray;
    padding: 5%;
    padding-top: 0;
    grid-column:1;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}
.event-img-div{
    justify-self: end;
    width: 90%;
    margin: auto;
}
.event-img{
    grid-column: 2;
    width: 100%;
    height: 100%;
}
.container-event img{
    box-shadow: 5px 5px 25px darkgray;
}
.icon-event{
    width: 40px;
    margin: 0 5%;
}
li{
    list-style: none;
}
.event-ul li{
    color: #eb2f06;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}
.event-txt h3{
    text-align: left;
    height: auto;
    margin-bottom: 15%;
    font-size: 3.5rem;
}
.btn-event{
    width: 30%;
    float: left;
    margin:20px 0;
    position: relative;
}
.img-p{
    width:90%;
    display: block;
    margin: auto;
    margin-top:50px;
}
.txt2{
    margin-top: 50px;
    justify-content: right;
}
.txt2 .btn{
    float: right;
}
.txt2 h3{
    font-size: 3rem;
}
.event-txt a{
    width: auto;
}